.section {
    margin-bottom: 40px;
  }
  
div.section > h2 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0;
}
  
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 20px;
}
  
.container {
    text-align: center;
    margin-top: 50px;
}